<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <%= live_title_tag("Headwear Solutions") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js">
    </script>
  </head>
  <body>
    <div class="md:flex justify-between hidden   fixed bg-white z-50 poppins-regular items-center  py-6 w-[100%] px-12">
      <div class="flex gap-4 text-base items-center">
        <a href="/" class="hover:underline scale-105 transition-all ease-in-out duration-500">
          Home
        </a>
        <a
          href="/#collection"
          class="hover:underline scale-105 transition-all ease-in-out duration-500"
        >
          Collections
        </a>
        <a href="/#shop" class="hover:underline scale-105 transition-all ease-in-out duration-500">
          Shop
        </a>
      </div>
      <b class="poppins-bold text-3xl">Headwear Solutions</b>
      <div class="flex gap-4 text-base items-center">
        <p class="hover:underline scale-105 transition-all ease-in-out duration-500">Contact</p>
        <%= if @current_user do %>
          <p class="hover:underline scale-105 transition-all ease-in-out duration-500">
            <%= String.slice(@current_user.email, 0..4) %> ..
          </p>
          <p class="hover:underline scale-105 transition-all ease-in-out duration-500">
            <%= link("Log out", to: Routes.user_session_path(@conn, :delete), method: :delete) %>
          </p>
        <% else %>
          <p class="hover:underline scale-105 transition-all ease-in-out duration-500">
            <%= link("Login", to: Routes.user_session_path(@conn, :new)) %>
          </p>
          <p class="hover:underline scale-105 transition-all ease-in-out duration-500">
            <%= link("Register", to: Routes.user_registration_path(@conn, :new)) %>
          </p>
        <% end %>
      </div>
    </div>

    <nav id="nav">
      <div class=" bg-white  w-[100%] items-center  md:hidden flex justify-between p-2">
        <div>
          <%= live_redirect to: Routes.page_index_path(@conn, :index) do %>
            <p class="text-xl poppins-regular text-black">
              Headwear Solutions
            </p>
          <% end %>
        </div>
        <button id="toggleButton" class=" flex flex-col  rounded-md gap-2  ">
          <div class="h-[2px] bg-black w-[40px]" />
          <div class="h-[2px] bg-black w-[40px]" />
          <div class="h-[2px] bg-black w-[40px]" />
        </button>
      </div>

      <div
        id="sidebar"
        class="fixed green top-0 left-0 h-full w-60 z-50 bg-white  text-black transition duration-300 transform -translate-x-full"
      >
        <div
          class="flex flex-col poppins-regular text-xl gap-4 items-start p-4 pt-24 "
          id="sidebarContent"
        >
          <a href="/" class="hover:underline scale-105 transition-all ease-in-out duration-500">
            Home
          </a>
          <a
            href="/#collection"
            class="hover:underline scale-105 transition-all ease-in-out duration-500"
          >
            Collections
          </a>
          <a
            href="/#shop"
            class="hover:underline scale-105 transition-all ease-in-out duration-500"
          >
            Shop
          </a>

          <%= if @current_user do %>
            <p class="hover:underline scale-105 transition-all ease-in-out duration-500">
              <%= link("Settings", to: Routes.user_settings_path(@conn, :edit)) %>
            </p>
            <p class="hover:underline scale-105 transition-all ease-in-out duration-500">
              <%= link("Log out", to: Routes.user_session_path(@conn, :delete), method: :delete) %>
            </p>
          <% else %>
            <p class="hover:underline scale-105 transition-all ease-in-out duration-500">
              <%= link("Login", to: Routes.user_session_path(@conn, :new)) %>
            </p>
            <p class="hover:underline scale-105 transition-all ease-in-out duration-500">
              <%= link("Register", to: Routes.user_registration_path(@conn, :new)) %>
            </p>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="pt-24">
      <%= @inner_content %>
    </div>
  </body>
</html>
